html{
    height: 100%;
}
body{
    display: flex;
    height: 100%;
    margin: 0;
}
/*
  S
*/
.side-bar{
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.side-bar-title{
    padding: 10px;
    font-size: 55px;
    color: #ffffff;
    display: block;
    border-radius: 8px;
    border: 2px dotted rgb(255, 255, 255);
}
.projects-title{
    padding: 10px;
    /* border: 2px solid green; */
    margin-top: 50px;
    align-self: flex-start;
    font-size: 45px;
    color: #e6ad45;
    margin-bottom: 50px;
}
.projects-list{
    align-self: flex-start;
    margin: 5px;
    margin-left: 30px;
    font-size: 25px;
    color: #818181;
    display: block;
}
.projects-list:hover{
    color: #f1f1f1;
    cursor: pointer;
}