body{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

.header{
    background-color: #0069D9;
    color: #fff;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 50px;
}

.sidebar-collapse-button {
    display: none;
    height: 30px;
    width: 50px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #f0f0f0;
    color: #fff;
    cursor: pointer;
}
.sidebar-collapse-button:hover {
    background-color: #fff;
}

.content{
    display: flex;
}

.sidebar {
    width: 20%;
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}


.sidebar-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.sidebar-content li:not(:last-child){
    width: 80%;
    padding: 10px;
    font-size: clamp(30px, 6vmin, 40px);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}

.sidebar-content li:hover:not(:last-child) {
    background-color: #0069d9;
    color: #fff;
}

.sidebar-projects-title{
    align-self: flex-start;
    color: #000;
    font-size: clamp(50px, 8vmin, 50px);
}




.board {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}


.todo-list-container{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    
    gap: 10px;
}
.todo-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid red;
}

.todo-container div{
    display: flex;
    align-items: center;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}



  
   
@media (max-width: 767px) {
    /* Hide sidebar by default */
    .sidebar {
        transform: translateX(-100%);
    }
    
    .sidebar-collapse-button {
        display: block;
    }
    
    .sidebar-show {
        transform: translateX(0);
    }

    .board{
        margin-left: -220px;
    }
}
  
  