html{
    height: 100%;
}
body{
    background-color: #e6ad45;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
}
/*
  Side bar and it's content's css.
*/
.side-bar{
    padding: 20px;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /*Fixed Sidebar (stay in place on scroll)*/
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.side-bar-title{
    padding: 10px;
    font-size: 55px;
    color: #e6ad45;
    display: block;
}
.projects-title{
    padding: 10px;
    margin-top: 50px;
    align-self: flex-start;
    font-size: 45px;
    color: #e6ad45;
    margin-bottom: 50px;
}
.projects-list{
    align-self: flex-start;
    margin: 5px;
    margin-left: 30px;
    font-size: 25px;
    color: #818181;
    display: block;
}
.projects-list:hover{
    color: #f1f1f1;
    cursor: pointer;
}

/*
  Todo's board next to sidebar
*/
.todo-board{
    position: fixed;
    width: 60%;
    height: 80%;
    left: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e6bb6d;
}